.navhead{
    display: flex;
    position: relative;
}
.upload{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    position: relative;
    left: -15%;
}
.navhead h2{
    position: relative;
    top: -8px;
    left: -17%;
    font-size: 35px;
}
.comp{
    position: relative;
    top: -15px;
    display: flex;
    gap: 40px;
}
.signout{
    background-color: #E53E3E;
    color: white;
    border-radius: 15px;
    position: relative;
    top: 46px;
    left: 20%;
}
.content{
    line-height: 0.3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.content h1{
    font-size: 42px;
    font-weight: 500;
}
.name,.resume{
    position: relative;
    display: inline-block;
    z-index: 1;
}
.name::after{
    content: "";
    position: absolute;
    left: -2px;
    bottom: -15px;
    rotate: 3deg;
    width: 100%;
    height: 60px;
    background-color: #d6ff2d;
    z-index: -1;
    border-radius: 6px;
}
.resume::after{
    content: "";
    position: absolute;
    left: -2px;
    bottom: -15px;
    rotate: 3deg;
    width: 100%;
    height: 60px;
    background-color: #dfdddd;
    z-index: -1;
    border-radius: 6px;
}
.formm{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 15px;
    height: 60vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cloud{
    background-color: transparent;
    color: #000;
    font-size: 100px;
}
.text{
    font-size: 25px;
    background-color: transparent;
    font-weight: 500;
}
.chooseBtn {
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.cta1{
    padding: 10px 20px;
    background: white;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #000;
}