.navhead{
    display: flex;
    position: relative;
}
.upload{
    padding: 10px 30px;
}
.navhead h2{
    position: relative;
    top: -8px;
    right: 20px;
    font-size: 35px;
}
.comp{
    position: relative;
    left: 160px;
    top: -15px;
    display: flex;
    gap: 40px;
}